alabaster
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
colorlog
decorator
defusedxml
docutils
entrypoints
executing
fastjsonschema
idna
imagesize
importlib-metadata
ipython
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nbsphinx
nbsphinx-link
nest-asyncio
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
prompt-toolkit
ptyprocess
pure-eval
pydata-sphinx-theme==0.8.1
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
readchar
requests
setuptools
six
snowballstemmer
soupsieve
Sphinx
sphinx-argparse
sphinx_autodoc_typehints
sphinx-book-theme
sphinx-copybutton
sphinx_design
sphinx-togglebutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
wheel
zipp
